@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

:root {
  --circle: linear-gradient(60deg, #7945c5, #4c7499);
  --circle-empty: linear-gradient(90deg, #f8dfb9, #ffd6fa);
  --line-border-fill: linear-gradient(45deg, #0000ff, #f00f0f);
  --line-border-empty: linear-gradient(45deg, #afaff8, #fdabab);
  --button: #4985db;
  --button-disabled: #ccc;
  --box-shadow: 0.5px 0.7px 4px #000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-image: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}
.progress {
  background-image: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-image: var(--circle-empty);
  color: #bbb;
  font-weight: bold;
  border-radius: 50%;
  height: 2.2em;
  width: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
  background-image: var(--circle);
}
.btn {
  background-image: var(--circle);
  color: #eff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
}

.btn:active {
  transform: scale(0.98);
  opacity: 0.8;
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-image: var(--line-border-empty);
  cursor: not-allowed;
  opacity: 0.7;
  box-shadow: none;
}
